.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    border: 2px solid #ffb12c;
    border-radius: 16px 16px 16px 16px;
    color: #000000;
}

.input {
    width: 90%;
    border: none;
    background-color: transparent;
}

.input-field {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.input::placeholder {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 800;
    color: black;
    opacity: 1;
}

.input:focus {
    outline: none;
}

.text {
    font-weight: 700;
    margin-bottom: 1rem;
}

.formError {
    color: rgb(199, 30, 30);
    font-size: small;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.pwIcon {
    margin-left: 0.5rem;
}


/* desktop */
@media (min-width: 1400px) {
    .input-container {
        width: 25rem;
        height: 2.5rem;
    }

    .login-input {
        margin-bottom: 0.5rem;
    }
}

/* not desktop */
@media (max-width: 1024px) {
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .login-input {
        margin-bottom: 0.5rem;
    }

    .input-container {
        width: 15rem;
        height: 2.5rem;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .login-input {
        margin-bottom: 0.5rem;
    }

    .input-container {
        width: 20rem;
        height: 2.5rem;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 915px) {
    .login-input {
        margin-bottom: 0.5rem;
    }

    .input-container {
        width: 20rem;
        height: 2.5rem;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .login-input {
        margin-bottom: 0.5rem;
    }

    .input-container {
        width: 20rem;
        height: 2.5rem;
    }
}
