.layout {
    position: sticky;
    top: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 0.2rem;
}

.list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 2rem;
    padding-bottom: 0.5rem;
}

.item {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 18px;
}

.item a {
    text-decoration: none;
    color: #ffb12c;
    font-weight: 800;
}

@media (max-width: 800px) {
    .list {
        overflow-x: scroll;
    }
}