.layout {
    position: sticky;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 100%;
    height: fit-content;
    padding-bottom: 0.2rem;
}

.tabs ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

.tabs li {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 18px;
}

.tabs ul li a {
    text-decoration: none;
    color: #ffb12c;
    font-weight: 800;
}