.layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text {
    font-weight: 600;
}

/* desktop */
@media (min-width: 1400px) {
    .layout {
        width: 33vw;
    }
}

/* not desktop */
@media (max-width: 1024px) {
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .layout {
        width: 55vw;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .layout {
        width: 65vw;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 915px) {
    .layout {
        width: 65vw;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .layout {
        width: 60vw;
    }
}
