.text {
    color: #ffb12c;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}