.layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: #ffb12c 0 1px 3px 0, #ffb12c 0 0 0 1px;
}

.title {
    font-weight: 600;
}

/* desktop */
@media (min-width: 1400px) {
    .layout {
        width: 25vw;
        min-height: 3vh;
        padding: 1rem;
    }

    .title {
        width: 24vw;
    }
}

/* not desktop */
@media (max-width: 1024px) {
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .layout {
        width: 75vw;
        min-height: 6vh;
        padding: 1rem;
    }

    .title {
        width: 70vw;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .layout {
        width: 75vw;
        min-height: 9vh;
        padding: 1rem;
    }

    .title {
        width: 70vw;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 915px) {
    .layout {
        width: 75vw;
        min-height: 3vh;
        padding: 1rem;
    }

    .title {
        width: 70vw;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .layout {
        width: 60vw;
        min-height: 3vh;
        padding: 1rem;
    }

    .title {
        width: 55vw;
    }
}
