.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.newsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: #ffb12c 0 1px 3px 0, #ffb12c 0 0 0 1px;
}

.newsItem p {
    text-align: center;
}

.placeholder {
    font-weight: 600;
    font-size: 2rem;
}

.pages {
    margin-top: 4rem;
}

/* desktop */
@media (min-width: 1400px) {
    .newsItem {
        width: 50vw;
        min-height: 3vh;
        padding: 1rem;
    }
}

/* not desktop */
@media (max-width: 1024px) {
}

/* portrait phones */
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .newsItem {
        width: 80vw;
        padding: 1rem;
    }
}

/* landscape phones */
@media only screen and (min-device-width: 653px) and (max-device-width: 932px) {
    .newsItem {
        width: 80vw;
        min-height: 12vh;
        padding: 1rem;
    }
}

/* portrait tablets */
@media only screen and (min-device-height: 1024px) and (max-device-width: 915px) {
    .newsItem {
        width: 80vw;
        min-height: 3vh;
        padding: 1rem;
    }
}

/* landscape tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1368px) {
    .newsItem {
        width: 80vw;
        min-height: 3vh;
        padding: 1rem;
    }
}
